.pattern{
    height: 100px;
    background-color: rgb(93, 180, 255);
    background-image: url(../img/pattern.png);
    background-size: 320px;
}
#logo{
    height: 50px;
    width: 200px;
    margin-top: 25px;
}
.fontedit{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: rgb(138, 138, 138);
}
.yellow{
    background-color: yellow;
}
#blue{
    color: rgb(80, 165, 255);
}
#inline{
    margin: 0 auto;
}
thead{
    color: white;
    background-color: rgb(66, 170, 255);
    border: none;
}
.tablecells{
    background-color: rgb(164, 214, 255);
}
.container{
    margin: 0 auto;
}
h2{
    text-align: left;
    color: rgb(170, 170, 170);
}